:root {
  --primary-color: #5b61b9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  /* overflow: hidden; */
  height: 100vh;
}

.nav-container {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12rem;
  padding: 0 10rem 0 10rem;
  background-color: var(--primary-color);
  background-image: url("./assets/svg/Liquid-Cheese.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-item {
  font-size: 2.3rem;
  font-weight: 700;
  color: white;
}

.user {
  font-size: 1.8rem;
  text-transform: capitalize;
}

.user-title {
  text-transform: capitalize;
}

.user-list {
  width: max-content;
}

.user-list > li {
  display: inline-block;
  width: max-content;
  margin: 0.5rem 0;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: white;
  text-transform: capitalize;
}

#contanedor {
  display: flex;
  justify-content: center;
  position: relative;
  top: -8rem;
  margin: 0 auto;
  padding: 0.5rem;
  width: 100%;
  height: 95%;
  background-image: url("./assets/svg/Confetti-Doodles.svg");
  border-radius: 2rem;
}

#ulMensajes > li {
  margin-left: 0.5rem;
  width: max-content;
  padding: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  list-style: none;
  text-align: left;
  background-color: #e6e6e6;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 3rem;
}

#ulMensajes {
  padding: 1rem;
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
  padding-left: 0px;
}

#chat {
  padding-top: 1rem;
  min-width: 50%;
  max-width: max-content;
  margin: 0 auto;
  box-shadow: -2px -1px 6px -1px rgba(0, 0, 0, 0.54);
  border-radius: 3rem;
}

#usuarios {
  width: 15%;
  position: relative;
  top: -11rem;
  margin: 0 auto;
  margin: 0 auto;
}

.user-title {
  margin-bottom: 1rem;
  padding: 0.5rem 0.1rem;
  text-align: center;
  border-radius: 3rem;
  background-color: white;
}

#contenedorChat {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  /* background-color: white; */
}

.chat-title {
  margin: 1rem 0;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
}

.input {
  display: inline-block;
  width: 35%;
  height: 0.2rem;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  border-radius: 2.5rem;
  border: none;
  outline: none;
}

input[type="text"] {
  background-color: #acc5dc;
  color: black;
}
.button {
  width: 5%;
  height: 10%;
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  border-radius: 25px;
  background-color: #443d9d;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #221b88;
}
